<h1>Informações da Obra</h1>

<h2>Endereço: <%= @construction.street %> , <%= @construction.number %></h2>

<p>Complemento: <%= @construction.complement %></p>
<p>Cidade: <%= @construction.city %> - <%= @construction.state %></p>
<p>Detalhe: <%= @construction.detail %></p>
<p>Responsavel: <%= @construction.responsable_id %></p>

<p>
  <%= link_to 'Editar', edit_construction_path %>
</p>

<p>
 <%= link_to 'Deletar', construction_path, method: :delete %>
</p>

<p>
 <%= link_to 'Inserir nova obra', constructions_new_path %>
</p>
