<h2><%= @construction.street %> , <%= @construction.number %></h2>

<p><%= @construction.complement %></p>
<p><%= @construction.city %> - <%= @construction.state %></p>
<p><%= @construction.detail %></p>
<p><%= @construction.responsable_id %></p>


